# Solution

Below is the solution for your Lesson 3 Practice Hands-On.

---

## Part 1

1.

```sql
-- query 1

INSERT INTO actor (first_name, last_name) VALUES ("Emma", "Stone")

-- query 2

SELECT * FROM actor WHERE first_name = "Emma" AND last_name = "Stone"
```

2.

```sql
-- query 1

UPDATE actor SET first_name = "Emmy", last_name = "Rock" WHERE actor_id = 203

-- query 2

SELECT * FROM actor WHERE actor_id = 203
```

3.

```sql
SELECT * FROM staff WHERE password IS NULL
```

4.

```sql
SELECT * FROM staff WHERE first_name IS NOT NULL AND store_id IS NOT NULL
```

5.

-- query 1

```sql
UPDATE address
SET address2 = "Canada"
WHERE district = "Alberta"

-- query 2

UPDATE address
SET address2 = "Australia"
WHERE district = "QLD"
```