# Solution

Below is the solution for your Lesson 1 Practice Hands-On. 

---

## Part 1

1.

```sql
SELECT * FROM sakila.actor WHERE first_name = "Cuba"
```


2.

```sql
SELECT title,film_id FROM sakila.film WHERE film_id > 5 AND film_id < 20

```


3.

```sql
SELECT first_name, last_name, email FROM sakila.customer WHERE last_name = "Rodriguez" OR last_name LIKE "Mc%"
```


4.

```sql
SELECT * FROM sakila.film WHERE title LIKE 'a%'
```

5.

```sql
SELECT title from sakila.film WHERE language_id NOT IN(SELECT language_id from sakila.language WHERE name = "English" OR name = "Japanese")
```


---

## Part 2

Query 1:

```sql
SELECT rental_id, payment_date FROM payment WHERE amount > .99
```


Query 2:

```sql
SELECT staff_id, customer_id FROM payment WHERE amount > .99
```