# DSO106 L2 Modeling with Logistic Regression - Python

# import packages

In [2]:
import pandas as pd
import statsmodels.api as sm

# import dataset

In [4]:
baseball = pd.read_csv('../Data/baseball.csv')

In [5]:
baseball.head()

   Game Team  Opp W/L  R  RA D/N      Att Team.1  HR Count
0     1  ARI  SFG   W  6   5   D  49016.0    ARI         1
1     1  CHC  STL   L  3   4   N  47566.0    CHC         1
2     1  NYY  TBR   L  3   7   D  31042.0    NYY         0
3     1  SFG  ARI   L  5   6   D  49016.0     SF         2
4     1  STL  CHC   W  4   3   N  47566.0    STL         1

# Data Wrangling

In [6]:
def recode (series):
    if series == 'W':
        return 1
    if series == 'L':
        return 0
baseball['WLr'] = baseball['W/L'].apply(recode)

# Make each variable a Dataframe

In [7]:
x = baseball['HR Count']
y = baseball['WLr']

# Run the analysis

In [8]:
logit = sm.Logit(y,x)
results = logit.fit()
print(results.summary2())

Optimization terminated successfully.
         Current function value: 0.667079
         Iterations 5
                         Results: Logit
================================================================
Model:              Logit            Pseudo R-squared: 0.038
Dependent Variable: WLr              AIC:              6486.0070
Date:               2021-10-14 12:17 BIC:              6492.4958
No. Observations:   4860             Log-Likelihood:   -3242.0
Df Model:           0                LL-Null:          -3368.7
Df Residuals:       4859             LLR p-value:      nan
Converged:          1.0000           Scale:            1.0000
No. Iterations:     5.0000
------------------------------------------------------------------
            Coef.    Std.Err.      z      P>|z|    [0.025   0.975]
------------------------------------------------------------------
HR Count    0.2798     0.0184   15.2304   0.0000   0.2438   0.3158
================================================================