In [2]:
pass_rates <- read.csv("../Data/pass_rates.txt")

In [3]:
pass_rates

  Student.group pass.rate
1 1             0.88
2 2             0.80
3 3             0.78
4 4             0.77
5 5             0.82
6 6             0.90
7 7             0.90
8 8             0.72

In [4]:
class(pass_rates)

[1] "data.frame"

In [5]:
class(pass_rates$Student.group)

[1] "integer"

In [6]:
class(pass_rates$pass.rate)

[1] "numeric"

In [10]:
as.factor(pass_rates$Student.group)

[1] 1 2 3 4 5 6 7 8
Levels: 1 2 3 4 5 6 7 8