### Table of Contents <a class="anchor" id="DS108L4_toc"></a>

* [Table of Contents](#DS108L4_toc)
    * [Page 1 - Part 1](#DS108L4_page_1)
    * [Page 2 - Part 2](#DS108L4_page_2)
     * [Page 3 - Fun Extras](#DS108L4_page_3)

<hr style="height:10px;border-width:0;color:gray;background-color:navy">

# Page 1 - Part One<a class="anchor" id="DS108L4_page_1"></a>

[Back to Top](#DS108L4_toc)

<hr style="height:10px;border-width:0;color:gray;background-color:navy">

### 1. Create a view named "FilmList that shows the title, release year, rating and length of films that have a length of less than 100. Once that is complete, select and view your newly created view.

query 1 
```SQL

create view FilmList as 
select title, release_year, rating, length 
from film 
where length < 100; 


```

-- query 2 
```SQL

select * from FilmList; 
```

<hr style="height:10px;border-width:0;color:gray;background-color:navy">

# Page 2 - Part Two<a class="anchor" id="DS108L4_page_2"></a>

[Back to Top](#DS108L4_toc)

<hr style="height:10px;border-width:0;color:gray;background-color:navy">

#### Create a table named "SalesAnalysis". Keep in mind when you're building databases, you are safeguarding the integrity of the data that's entered -  always.  Imagine an 18-year-old teen whose job is data entry and they aren't super careful. You are building safeguards in with the data types you specify for the values in each column. 

Include the following columns: <br>
* ProductId 
* ProductName 
* ListPrice 
* DateAdded 
* ProductRanking 

### Include the following requirements: <br>

#### Every product should have an automatically generated id number that should be unique for each product. <br>
#### Give each column a data type that would apply <br>
#### Make ListPrice in a price format: 12.99, for example.
#### Give the DateAdded column a default value for the current local time. <br>
#### All columns CANNOT be null. <br>
#### Next, insert one product into the table following the given guidelines when the table was created. When inserting the data, don't include the ProductId or the DateAdded. <br>Finally, run a query to see the single product in your table.

```SQL
CREATE TABLE sakila.SalesAnalysis ( 
ProductId INTEGER PRIMARY KEY AUTO_INCREMENT, 
ProductName VARCHAR(50) NOT NULL, 
ListPrice NUMERIC(4,2) NOT NULL,
DateAdded DATETIME DEFAULT CURRENT_TIMESTAMP,
SalesRanking INTEGER NOT NULL 
); 
```

### Query 2 <br>
```SQL
INSERT INTO sakila.SalesAnalysis(ProductName, ListPrice, SalesRanking) 
values("Yoga Heated Toe Socks", 16.99, "19562"); 
--- Don't forget to add a semicolon so SQL knows that's the end of this insert.

INSERT INTO sakila.SalesAnalysis(ProductName, ListPrice, SalesRanking)  
values("Stream", 15.99, "4564"); 
```

###  Note that when you use an integer, or numeric value, it is not a string and values added to a database don't need quotation marks.  If you were to use quotation marks, thereby making them a string, you would not be able to perform aggregation  with them and use them as integers.  It's valuable to be able to sum, average, or get a mean or median from, say a price and you can only do that if it's entered as a numeric value.

### Once your values are added,  select * all to view them

```SQL
SELECT * FROM sakila.SalesAnalysis;
```

<hr style="height:10px;border-width:0;color:gray;background-color:navy">

# Page 3 - Part Three Fun Extras<a class="anchor" id="DS108L4_page_3"></a>

[Back to Top](#DS108L4_toc)

<hr style="height:10px;border-width:0;color:gray;background-color:navy">

#### Now, for fun, you can look at columns like this:

### And you can save this code to use later when you have real databases as a data analyst!  the only things you'll change are sakila and film_id.

```SQL
SELECT TABLE_NAME 
FROM information_schema.columns
WHERE column_name = "film_id"
AND table_schema = "sakila"; 
```

#### We get an output of table names which contain the column name film id. This is saying select the tables by name from information schema.columns where the column name equals film id and the table schema equals sakila. All tables in sakila that have the film id column, output is the five tables that have that column name. This is a quicker way to identify what your columns are in a new database.

### If you wanted to save a SQL dataset to CSV to examine using Python, R or Tableau, you can save to CSV this way:

```SQL
COPY SalesAnalysis TO 'C:\FILEPATH\FILENAME.txt'
WITH (FORMAT CSV, HEADER, DELIMITER '|');
```

#### Once you're finished, you can drop the SalesAnalysis table from sakila this way:

```SQL
DROP TABLE SalesAnalysis;
```