## DS108 Lesson 5 Hands On Helper

### Table of Contents <a class="anchor" id="DS108L5_toc"></a>

* [Table of Contents](#DS108L5_toc)
    * [Page 1 - Part 1](#DS108L5_page_1)
    * [Page 2 - Part 2](#DS108L5_page_2)
    * [Page 3 - Part 3](#DS108L5_page_3)

<hr style="height:10px;border-width:0;color:gray;background-color:darkorchid">

# Page 1 - Part One<a class="anchor" id="DS108L5_page_1"></a>

[Back to Top](#DS108L5_toc)

<hr style="height:10px;border-width:0;color:gray;background-color:darkorchid">

## Part 1 <br>
#### Run a query that creates a table named Recipes that has the following columns: RecipID, RecipeName, CountryOrigin. <br>

#### RecipeID is the primary key and auto increments.<br>

```SQL
CREATE TABLE Recipes ( 
RecipeID INTEGER PRIMARY KEY AUTO_INCREMENT, 
RecipeName VARCHAR(50) NOT NULL,
CountryOrigin VARCHAR(50) NOT NULL
);
```

```SQL
INSERT INTO Recipes (RecipeID, RecipeName, CountryOrigin)
VALUE 
(1, "Chicken Cordon Bleu", "France"),
(2, "Creme Brulee", "France"),
(3, "Pasta Puttancesca", "Italy"), 
(4, "Carne Asada", "Mexico"),
(5, "Paella", "Spain");
```

#### INSERT INTO inserts names and data for five recipes. After the INSERT INTO keword is the name of the table, and in parentheses are the columns to be filled. In the next row is the VALUE keyword and the data to insert into each column in each row. Enclose the data for each row in a set of parentheses and inside each set of (), use a comma to separate each column value. The order of the values must match the order of the columns specified after the table name. Each row of data ends with a comma and the last row ends the entire statement with a semicolon.  Text and dates require quotes, numbers including integers and decimals don't require quotes.

### Run a query to see all of the recipes in the database.

```SQL
SELECT * FROM Recipes;
```

<hr style="height:10px;border-width:0;color:gray;background-color:darkorchid">

# Page 2 - Part Two<a class="anchor" id="DS108L5_page_2"></a>

[Back to Top](#DS108L5_toc)

<hr style="height:10px;border-width:0;color:gray;background-color:darkorchid">

### Part 2
#### Run a query that creates a table named Chefs that has the following columns: ChefID, Name, RecipeID as a foreign key and Recipes.

#### ChefID is the primary key and auto increments. <br>
#### RecipeID is a foreign key that references the Recipes table on the RecipeID column.

#### Run a query to see all of the Chefs within the database.

```SQL
CREATE TABLE Chefs ( 
ChefID INTEGER PRIMARY KEY AUTO_INCREMENT,
Name VARCHAR(50) NOT NULL, 
RecipeID INTEGER, FOREIGN KEY (RecipeID) REFERENCES Recipes(RecipeID) 
);

INSERT INTO Chefs (Name, RecipeID) 
VALUE 
("Jacques Pepin", 1), 
("Massimo Bottura", 3),
("Enrique Olvera", 4),
("Jose Andres", 5);

SELECT * FROM Chefs; 

SELECT * FROM Recipes 
JOIN Chefs USING (RecipeID); 

SELECT * FROM Recipes; 
```

<hr style="height:10px;border-width:0;color:gray;background-color:darkorchid">

# Page 3 - Part Three<a class="anchor" id="DS108L5_page_3"></a>

[Back to Top](#DS108L5_toc)

<hr style="height:10px;border-width:0;color:gray;background-color:darkorchid">

### Part 3

#### Run a query that joins the Recipes and Chefs table together using the RecipeID foreign key.



#### Next, create a view named  using the join query created in step 1 adding the following parameters:

#### Show only the Chefs' full name and recipe name.
#### Rename the column name results using the AS keyword.
#### The Authors FullName should display as ChefName.
#### The Recipe should display as RecipeName.
#### Order the results alphabetically by the authors full name.
#### Lastly, run a query to see the view you just created.

```SQL
CREATE VIEW ChefRecipes AS 
SELECT Name AS ChefName, RecipeName as Recipe FROM Recipes 
JOIN Chefs USING (RecipeID) 
ORDER BY Name; 

SELECT * FROM ChefRecipes;

#### Note that date time format is YYYY-MM-DD - this is the international standard for date formats; using it will help avoid confusion. 
<p style="text-align: left">
  <img  src="../Media/dateFormatComic.jpg" width="400" alt="Video Games">
</p>