# Moving from Excel to R

In [1]:
install.packages("vembedr")
library("vembedr")
embed_vimeo("651348382")

The downloaded binary packages are in
	/var/folders/wk/6why77bn1kn0l0pkd4vd3zl00000gn/T//RtmpkU6Sz0/downloaded_packages

Shiny tags cannot be represented in plain text (need html)

https://vimeo.com/651348382

Many of the functions and features of Excel exist and can be leveraged in R (and Python). 

This example notebook will review several key functions used in Excel and show their R equivalents.

Perhaps the biggest difference is having to read the data into R before being able to query it. 

Once the data is read in, many common data functions are avialable.

It is important to remember data is accessed via columns and rows. 

Overview of this notebook:

- Reading in Excel in R
    - Listing column names
    - Viewing data
    - Selecting Data 
- Single vector math
    - Min
    - Max
    - Mean
    - Sum
    - Count
    - Unique
- Creating new columns in R
    - Sequence of integers
    - Sample of floats
    - Multiple Column Math
- Saving your work
- Reloading your saved work
- Future Directions

# Reading in Excel in R

In [1]:
# Install packages
install.packages("tidyverse")

The downloaded binary packages are in
	/var/folders/9q/yp0trhm570d82rk1lfh67tq00000gn/T//RtmpcdR7zj/downloaded_packages

In [2]:
# Load libraries
library(tidyverse)
library(readxl)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.4     ✔ dplyr   1.0.7
✔ tidyr   1.1.4     ✔ stringr 1.4.0
✔ readr   2.0.2     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [3]:
# Read in simple data for example
df = read_excel("../../Data/Excel_data.xlsx")

In [4]:
# View data
df

   Integers Random_numbers Categorical_data
1   1       0.84824357     Group1
2   2       0.09386627     Group2
3   3       0.01546409     Group3
4   4       0.88211509     Group1
5   5       0.44850776     Group2
6   6       0.04717416     Group3
7   7       0.83961475     Group1
8   8       0.50393142     Group2
9   9       0.12537182     Group3
10 10       0.76823077     Group2

In [5]:
# List column names
names(df)

[1] "Integers"         "Random_numbers"   "Categorical_data"

In [6]:
# Get a row of data
df[3,]

  Integers Random_numbers Categorical_data
1 3        0.01546409     Group3

In [7]:
# Get data by row and col index
df[3,2]

  Random_numbers
1 0.01546409

In [8]:
# Get data by column name and row index
df$Integers[3]

[1] 3

In [9]:
df$Integers[3:10]

[1]  3  4  5  6  7  8  9 10

# Single Vector Math in R

In [10]:
# Get min of Integers column
min(df$Integers)

[1] 1

In [11]:
# Get min of Integers column
max(df$Integers)

[1] 10

In [12]:
# Length of a vector
length(df$Integers)

[1] 10

In [13]:
# Mean of random numbers column
mean(df$Random_numbers)

[1] 0.457252

In [14]:
# Sum of random numbers in column
sum(df$Random_numbers)

[1] 4.57252

In [15]:
# List of unique items in column
unique(df$Categorical_data)

[1] "Group1" "Group2" "Group3"

In [17]:
# Counts of each group
dplyr::count(df, Categorical_data, sort = TRUE)

  Categorical_data n
1 Group2           4
2 Group1           3
3 Group3           3

# Creating New Columns-Multiple Vector Math in R

In [18]:
# Create a new column by adding the two numeric columns
df$NewColumn = df$Integers + df$Random_numbers

In [19]:
# View data
df

   Integers Random_numbers Categorical_data NewColumn
1   1       0.84824357     Group1            1.848244
2   2       0.09386627     Group2            2.093866
3   3       0.01546409     Group3            3.015464
4   4       0.88211509     Group1            4.882115
5   5       0.44850776     Group2            5.448508
6   6       0.04717416     Group3            6.047174
7   7       0.83961475     Group1            7.839615
8   8       0.50393142     Group2            8.503931
9   9       0.12537182     Group3            9.125372
10 10       0.76823077     Group2           10.768231

In [20]:
# Create new cols of intergers
df$newInts <- seq(1, 10)

In [21]:
# Create new col of floats
df$newFloats <- runif(10, 0, 1)

In [22]:
# View data
df

   Integers Random_numbers Categorical_data NewColumn newInts newFloats
1   1       0.84824357     Group1            1.848244  1      0.72788099
2   2       0.09386627     Group2            2.093866  2      0.55276598
3   3       0.01546409     Group3            3.015464  3      0.02355398
4   4       0.88211509     Group1            4.882115  4      0.31623625
5   5       0.44850776     Group2            5.448508  5      0.30465946
6   6       0.04717416     Group3            6.047174  6      0.52543769
7   7       0.83961475     Group1            7.839615  7      0.01822081
8   8       0.50393142     Group2            8.503931  8      0.64574746
9   9       0.12537182     Group3            9.125372  9      0.27625054
10 10       0.76823077     Group2           10.768231 10      0.52431069

# Saving the data

In [23]:
# Save new df to a csv format file
write.csv(df, '../../Data/Example_output.csv', row.names=FALSE)

# Reading in and checking the output

In [24]:
# Read in csv file that was just output
df2 = read_csv('../../Data/Example_output.csv')

Rows: 10 Columns: 6

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): Categorical_data
dbl (5): Integers, Random_numbers, NewColumn, newInts, newFloats


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [25]:
# View the data
df2

   Integers Random_numbers Categorical_data NewColumn newInts newFloats
1   1       0.84824357     Group1            1.848244  1      0.72788099
2   2       0.09386627     Group2            2.093866  2      0.55276598
3   3       0.01546409     Group3            3.015464  3      0.02355398
4   4       0.88211509     Group1            4.882115  4      0.31623625
5   5       0.44850776     Group2            5.448508  5      0.30465946
6   6       0.04717416     Group3            6.047174  6      0.52543769
7   7       0.83961475     Group1            7.839615  7      0.01822081
8   8       0.50393142     Group2            8.503931  8      0.64574746
9   9       0.12537182     Group3            9.125372  9      0.27625054
10 10       0.76823077     Group2           10.768231 10      0.52431069

Here, in df2, we can see that the new columns have been created and loaded properly

# Future Directions

- Create visuals in R
- Test advanced stats analyses in R
- More complex grouping and aggregation functions in R