# Anatomy of dplyr

dplyr is an R package for data manipulation and aggregation.

This notebook will review some basic usage of this package in R.

[dplyr](https://www.rdocumentation.org/packages/dplyr/versions/0.7.8)

In [1]:
options(repr.matrix.max.cols=150, repr.matrix.max.rows=200)

In [2]:
install.packages('dplyr')

The downloaded binary packages are in
	/var/folders/9q/yp0trhm570d82rk1lfh67tq00000gn/T//RtmpW6CR6d/downloaded_packages

In [3]:
library('dplyr')

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [4]:
student.mat = read.csv('../../Data/student-mat.csv')

In [5]:
head(student.mat)

  school sex age address famsize Pstatus Medu Fedu Mjob     Fjob     reason
1 GP     F   18  U       GT3     A       4    4    at_home  teacher  course
2 GP     F   17  U       GT3     T       1    1    at_home  other    course
3 GP     F   15  U       LE3     T       1    1    at_home  other    other
4 GP     F   15  U       GT3     T       4    2    health   services home
5 GP     F   16  U       GT3     T       3    3    other    other    home
6 GP     M   16  U       LE3     T       4    3    services other    reputation
  guardian traveltime studytime failures schoolsup famsup paid activities
1 mother   2          2         0        yes       no     no   no
2 father   1          2         0        no        yes    no   no
3 mother   1          2         3        yes       no     yes  no
4 mother   1          3         0        no        yes    yes  yes
5 father   1          2         0        no        yes    yes  no
6 mother   1          2         0        no        yes    yes  yes
  nursery higher internet romantic famrel freetime goout Dalc Walc health
1 yes     yes    no       no       4      3        4     1    1    3
2 no      yes    yes      no       5      3        3     1    1    3
3 yes     yes    yes      no       4      3        2     2    3    3
4 yes     yes    yes      yes      3      2        2     1    1    5
5 yes     yes    no       no       4      3        2     1    2    5
6 yes     yes    yes      no       5      4        2     1    2    5
  absences G1 G2 G3
1  6        5  6  6
2  4        5  5  6
3 10        7  8 10
4  2       15 14 15
5  4        6 10 10
6 10       15 15 15

In [6]:
# Filter data to only paid students
Paid <- student.mat %>% filter(paid == 'yes')
head(Paid)

  school sex age address famsize Pstatus Medu Fedu Mjob     Fjob     reason
1 GP     F   15  U       LE3     T       1    1    at_home  other    other
2 GP     F   15  U       GT3     T       4    2    health   services home
3 GP     F   16  U       GT3     T       3    3    other    other    home
4 GP     M   16  U       LE3     T       4    3    services other    reputation
5 GP     M   15  U       LE3     A       3    2    services other    home
6 GP     M   15  U       GT3     T       3    4    other    other    home
  guardian traveltime studytime failures schoolsup famsup paid activities
1 mother   1          2         3        yes       no     yes  no
2 mother   1          3         0        no        yes    yes  yes
3 father   1          2         0        no        yes    yes  no
4 mother   1          2         0        no        yes    yes  yes
5 mother   1          2         0        no        yes    yes  no
6 mother   1          2         0        no        yes    yes  yes
  nursery higher internet romantic famrel freetime goout Dalc Walc health
1 yes     yes    yes      no       4      3        2     2    3    3
2 yes     yes    yes      yes      3      2        2     1    1    5
3 yes     yes    no       no       4      3        2     1    2    5
4 yes     yes    yes      no       5      4        2     1    2    5
5 yes     yes    yes      no       4      2        2     1    1    1
6 yes     yes    yes      no       5      5        1     1    1    5
  absences G1 G2 G3
1 10        7  8 10
2  2       15 14 15
3  4        6 10 10
4 10       15 15 15
5  0       16 18 19
6  0       14 15 15

In [7]:
# See unique values in guardian column
unique(student.mat$guardian)

[1] "mother" "father" "other"

In [8]:
# Filter to show only those who have eihter a mother or a father as a guardian
MotherFather <- student.mat %>% filter(guardian %in% c("mother", "father"))

In [9]:
head(MotherFather)

  school sex age address famsize Pstatus Medu Fedu Mjob     Fjob     reason
1 GP     F   18  U       GT3     A       4    4    at_home  teacher  course
2 GP     F   17  U       GT3     T       1    1    at_home  other    course
3 GP     F   15  U       LE3     T       1    1    at_home  other    other
4 GP     F   15  U       GT3     T       4    2    health   services home
5 GP     F   16  U       GT3     T       3    3    other    other    home
6 GP     M   16  U       LE3     T       4    3    services other    reputation
  guardian traveltime studytime failures schoolsup famsup paid activities
1 mother   2          2         0        yes       no     no   no
2 father   1          2         0        no        yes    no   no
3 mother   1          2         3        yes       no     yes  no
4 mother   1          3         0        no        yes    yes  yes
5 father   1          2         0        no        yes    yes  no
6 mother   1          2         0        no        yes    yes  yes
  nursery higher internet romantic famrel freetime goout Dalc Walc health
1 yes     yes    no       no       4      3        4     1    1    3
2 no      yes    yes      no       5      3        3     1    1    3
3 yes     yes    yes      no       4      3        2     2    3    3
4 yes     yes    yes      yes      3      2        2     1    1    5
5 yes     yes    no       no       4      3        2     1    2    5
6 yes     yes    yes      no       5      4        2     1    2    5
  absences G1 G2 G3
1  6        5  6  6
2  4        5  5  6
3 10        7  8 10
4  2       15 14 15
5  4        6 10 10
6 10       15 15 15

In [10]:
# Order that data frame so that we see all the mothers first
SortedMomFirst <- MotherFather %>% arrange(desc(guardian))

In [11]:
head(SortedMomFirst)

  school sex age address famsize Pstatus Medu Fedu Mjob     Fjob     reason
1 GP     F   18  U       GT3     A       4    4    at_home  teacher  course
2 GP     F   15  U       LE3     T       1    1    at_home  other    other
3 GP     F   15  U       GT3     T       4    2    health   services home
4 GP     M   16  U       LE3     T       4    3    services other    reputation
5 GP     M   16  U       LE3     T       2    2    other    other    home
6 GP     F   17  U       GT3     A       4    4    other    teacher  home
  guardian traveltime studytime failures schoolsup famsup paid activities
1 mother   2          2         0        yes       no     no   no
2 mother   1          2         3        yes       no     yes  no
3 mother   1          3         0        no        yes    yes  yes
4 mother   1          2         0        no        yes    yes  yes
5 mother   1          2         0        no        no     no   no
6 mother   2          2         0        yes       yes    no   no
  nursery higher internet romantic famrel freetime goout Dalc Walc health
1 yes     yes    no       no       4      3        4     1    1    3
2 yes     yes    yes      no       4      3        2     2    3    3
3 yes     yes    yes      yes      3      2        2     1    1    5
4 yes     yes    yes      no       5      4        2     1    2    5
5 yes     yes    yes      no       4      4        4     1    1    3
6 yes     yes    no       no       4      1        4     1    1    1
  absences G1 G2 G3
1  6        5  6  6
2 10        7  8 10
3  2       15 14 15
4 10       15 15 15
5  0       12 12 11
6  6        6  5  6

In [12]:
# Include only the columns on their age, guardian, and whether they have paid
SortedMomFirstColumns = SortedMomFirst %>% select(age, guardian, paid)

In [13]:
head(SortedMomFirstColumns)

  age guardian paid
1 18  mother   no
2 15  mother   yes
3 15  mother   yes
4 16  mother   yes
5 16  mother   no
6 17  mother   no

In [14]:
# Find the mean age of this dataset
MeanAge <- SortedMomFirstColumns %>% summarise(MeanAge=mean(age))
MeanAge

  MeanAge
1 16.54545

In [15]:
# Find the mean age per guardian
MeanAgeByGuardian <- SortedMomFirstColumns %>% group_by(guardian) %>% summarise(MeanAge=mean(age))
MeanAgeByGuardian

  guardian MeanAge
1 father   16.43333
2 mother   16.58242

In [16]:
# Do this all at once - link them all!
Final <- student.mat %>%
    filter(guardian %in% c("mother", "father")) %>% arrange(desc(guardian)) %>%
    select(age, guardian, paid) %>% group_by(guardian) %>% summarise(MeanAge=mean(age))

In [17]:
Final

  guardian MeanAge
1 father   16.43333
2 mother   16.58242