# How to read in a tab separated file (with examples)
---

### Example 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Example 2. Read in your data.

In [2]:
chipo = pd.read_csv('../Data/chipotle.tsv', sep = '\t')

### Example 3. Assign it to a variable called chipo.

In [3]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Cheese, Sour Cream]]",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sour Cream, Guacamole, Lettuce]]",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables, Black Beans, Pinto Beans, Cheese, Sour Cream, Guacamole, Lettuce]]",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Cheese, Sour Cream, Lettuce]]",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto Beans, Cheese, Sour Cream, Lettuce]]",$9.25

### Example 4. What is the number of observations in the dataset?

In [4]:
chipo.shape[0]

4622

In [5]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Example 5. What is the number of columns in the dataset?

In [6]:
chipo.shape[1]

5

### Example 6. Print the name of all the columns.

In [7]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Example 7. How is the dataset indexed?

In [8]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Example 8. Which was the most-ordered item?

In [9]:
answer = chipo.groupby('item_name').sum().sort_values(['quantity'], ascending=False)
answer.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Example 9. For the most-ordered item, how many items were ordered?

In [10]:
answer = chipo.groupby('item_name').sum().sort_values(['quantity'], ascending=False)

answer.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Example 10. What was the most ordered item in the choice_description column?

In [11]:
answer = chipo.groupby('choice_description').sum().sort_values(['quantity'], ascending=False)

answer.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Example 11. How many items were orderd in total?

In [12]:
total_items_orders = chipo.quantity.sum()
total_items_orders

4972